section.write {
  .edit-tools {
    display: flex;
    gap: 18px;
    padding: 51px 0;
    .edit:nth-child(1) {
      flex-grow: 5;
      input {
        border: 1px solid #eee;
        outline: 0;
        padding: 13px;
        width: 100%;
        border-radius: 5px;
        margin-bottom: 30px;
      }
    }

    .edit:nth-child(2) {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .publish-box {
        display: flex;
        flex-direction: column;
        gap: 5px;
        border: 1px solid #eee;
        padding: 15px;
        p {
          font-size: 14px;
        }
        .btns {
          display: flex;
          justify-content: space-between;
          align-items: center;
          span {
            display: block;
            padding: 6px;
            border: 1px solid rgb(110 201 176);
            border-radius: 3px;
            background-color: #fff;
            color: rgb(110 201 176);
            cursor: pointer;
          }
          button {
            display: block;
            width: 72px;
            padding: 6px;
            border-radius: 3px;
            border: 0;
            background-color: rgb(110 201 176);
            color: #fff;
            cursor: pointer;
          }
        }
      }
      .category-box {
        padding: 15px;
        border: 1px solid #eee;

        form {
          display: flex;
          flex-direction: column;
          input {
            margin-right: 8px;
          }
          label {
            color: rgb(110 201 176);
          }
        }
      }
    }
  }
}
.ql-container.ql-snow {
  height: 36vh;
}
