section.home-page {
  //   background-color: antiquewhite;
  .items {
    display: flex;
    align-items: center;
    gap: 71px;
    padding-top: 63px;
    margin-bottom: 15px;
    
    .item:nth-child(1) {
      display: flex;
      flex-direction: column;
      gap: 10px;

      h2 {
        font-size: 38px;
      }
    }
    .item {
      width: 50%;

      .itempost-responsive {
        padding: 43px;
        position: relative;
        z-index: 999;

        &::after {
          content: " ";
          width: 89%;
          height: 76%;
          background-color: rgb(167, 237, 217);
          position: absolute;
          top: 18%;
          left: 3%;
          z-index: -1;
          box-shadow: 0 20px 50px #eee;
        }
      }
    }
  }
  .items:nth-child(even){
    flex-direction: row-reverse;     
  }
}
